@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


/***MAIN STYLE ******/
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}


.viciLabDemoVid {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}

.SimulinkVid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.MATLABVid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.main {
    background-color: #222;
}

.w3-black {
    background-color: #222;
  
}